to-do_list/target/classes/to-do_list.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="Main_Task_Listener" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <db:generic-config name="TASK_DB" url="jdbc:mysql://localhost:3306/tasks?user=root&amp;password=r00t" driverClassName="com.mysql.jdbc.Driver" doc:name="Generic Database Configuration"/>
    <flow name="Tasks_flow">
        <http:listener config-ref="Main_Task_Listener" path="/task" doc:name="HTTP"/>
        <expression-component doc:name="Get Query Params"><![CDATA[flowVars.id = message.inboundProperties['http.query.params'].id;
flowVars.taskname = message.inboundProperties['http.query.params'].taskname;
flowVars.description = message.inboundProperties['http.query.params'].description;
flowVars.target = message.inboundProperties['http.query.params'].target;]]></expression-component>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties.'http.method' == 'POST']">
                <db:insert config-ref="TASK_DB" doc:name="Insert Task">
                    <db:parameterized-query><![CDATA[Insert into TO_DOS (TASK_NAME, TASK_DESCRIPTION,EXPECTED_DATE)
Values (#[flowVars.taskname], #[flowVars.description], #[flowVars.target]);]]></db:parameterized-query>
                </db:insert>
                <set-payload value="{ &quot;status&quot;: &quot;success&quot;, &quot;statusDescription&quot;: &quot;Tasks registered successfully&quot;}" doc:name="Sucess"/>
            </when>
            <when expression="#[message.inboundProperties.'http.method' == 'DELETE']">
                <db:delete config-ref="TASK_DB" doc:name="Delete Task">
                    <db:parameterized-query><![CDATA[Delete from To_dos where Id = #[flowVars.id];]]></db:parameterized-query>
                </db:delete>
                <set-payload value="{ &quot;status&quot;: &quot;success&quot;, &quot;statusDescription&quot;: &quot;Tasks deteled successfully&quot;}" doc:name="Succes"/>
            </when>
            <when expression="#[message.inboundProperties.'http.method' == 'PUT']">
                <db:update config-ref="TASK_DB" doc:name="Update Task">
                    <db:parameterized-query><![CDATA[Update To_dos set
  task_name = #[flowVars.taskname],
  task_description = #[flowVars.description],
  expected_date = #[flowVars.target]
Where id = #[flowVars.id]
;]]></db:parameterized-query>
                </db:update>
                <set-payload value="{ &quot;status&quot;: &quot;success&quot;, &quot;statusDescription&quot;: &quot;Tasks updated successfully&quot;}" doc:name="Success"/>
            </when>
            <otherwise>
                <db:select config-ref="TASK_DB" doc:name="Search Task">
                    <db:parameterized-query><![CDATA[Select *
From TO_DOS
Where Id = #[flowVars.id]
;]]></db:parameterized-query>
                </db:select>
                <dw:transform-message doc:name="Transform Message" metadata:id="64278594-01ab-4808-a385-50047c8ddf02">
                    <dw:input-payload doc:sample="sample_data\list_map.dwl"/>
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	ID: payload[0].ID,
	"Target date": payload[0].EXPECTED_DATE,
	"Task name": payload[0].TASK_NAME,
	Description: payload[0].TASK_DESCRIPTION
}]]></dw:set-payload>
                </dw:transform-message>
            </otherwise>
        </choice>
        <exception-strategy ref="Choice_Exception_Strategy" doc:name="Reference Exception Strategy"/>

    </flow>
    <choice-exception-strategy name="Choice_Exception_Strategy">
        <catch-exception-strategy when="#[exception.causeMatches('com.mysql.jdbc.exceptions.*')]" doc:name="Catch Exception Strategy">
            <properties-transformer   doc:name="Property"/>
            <logger message="Error: #[exception]" level="ERROR" doc:name="Logger"/>
            <set-payload value="Ocorreu um erro durante execu&#231;&#227;o: #[exception]" doc:name="Set Payload"/>
        </catch-exception-strategy>
    </choice-exception-strategy>
</mule>
